---
title: Structure of Structures
layout: layouts/home.njk
description: I write about AI, IT Leadership, Enterprise Architecture, Systems Design, Cloud Engineering, Data Solutions, Cybersecurity and future of AI. My name is Rohit Sood, here's why I started this blog - to show my work and learnings. I am hopeful that it helps someone navigating the complex worlds of technology and leadership. I cut through the noise with battle-tested insights by applying first principles, and my experiences as a tech startup co-founder and a veteran of major corporations. All opinions are my own.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  I write about AI, IT Leadership, Enterprise Architecture, Systems Design, Cloud, Data, Cybersecurity and Patterns.
  <p>My name is <a href="https://www.rohitsood.com">Rohit Sood</a>, I write this blog to share what I am learning, get your feedback and hopefully a good side effect is that it helps someone navigating the complex worlds of technology and leadership. I want to cut through the noise with battle-tested insights by applying first principles, your feedback and my experiences as a tech startup co-founder and a veteran of major corporations. </p> 
  All opinions are my own.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>